{
	 "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "curly": "warn",
        "eqeqeq": "warn",
        "no-new": "warn",
        "quotes": ["warn", "double"],
        "strict": "warn"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "self": false,
        "bootstrap": false,
        "cajaVM": false,
        "define": false,
        "ReturnValue": false,
        "ses": false,
        "setImmediate": false,
        "Q": true,
        "Promise": true
    }
}
